/****************************************************
 Header
 ****************************************************/
.header.box {
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99999;
}



/****************************************************
 主視覺
 ****************************************************/
.kv {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 60px auto 0;
    height: 250px;
    max-width: 1400px;
}

.kv img {
    width: 100%;
    height: 100%;
    background: lightgray;
    object-fit: cover;
    object-position: top right
}



/****************************************************
 title
 ****************************************************/
.title {
    background-color: white;
    padding: 15px 30px;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    top: -50px;
}

.title h1 {
    text-align: left;
}



/****************************************************
 Section: 善用收益策略強化收益機會
 ****************************************************/
.startVideo.box {
    min-height: 400px;
    text-align: center;
    padding-top: 0;
    margin-bottom: 60px;
}

.startVideo h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

.startVideo p {
    text-align: left;
    /* font-size: 1.3em; */
    /* line-height: 1.4em; */
    max-width: 800px;
    margin: 0 auto;
}

.startVideo .videoContainer {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.startVideo .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 100px;
}

.startVideo .videoWrapper iframe {
    z-index: 1;
}

.startVideo .videoWrapper::before {
    content: "";
    display: block;
    background-color: #E0F5FF;
    position: absolute;
    top: 8%;
    left: -4%;
    width: 60%;
    height: 100%;
    z-index: 1;
}

.startVideo .videoWrapper::after {
    content: "";
    display: block;
    background-color: #FFF8E5;
    position: absolute;
    top: 16%;
    left: -8%;
    width: 60%;
    height: 100%;
    z-index: 0;
}



/****************************************************
 認識非投資等級債券
 ****************************************************/
.introduce.box {
    background-color: #FFF8E5;
    padding-bottom: 100px;
}

.introduce h2 {
    background-color: #FFF8E5;
}

.introduce .swiperIntroduce {
    max-width: 1160px;
}

.introduce.box .swiper-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items:stretch;
}

.introduce.box .swiper-wrapper .swiper-slide {
    background-color: white;
    cursor: pointer;
    -o-box-shadow: 0px 0px 20px -15px #000;
    -moz-box-shadow: 0px 0px 20px -15px #000;
    -webkit-box-shadow: 0px 0px 20px -15px #000;
    box-shadow: 0px 0px 20px -15px #000;
    transition: transform .3s;
}

.introduce.box .swiper-wrapper .swiper-slide .swiper-inner {
    margin: 20px;
}

.introduce.box img {
    width: 100%;
}


/****************************************************
 看影音長知識
 ****************************************************/
.videoLearn .videoContainer,
.videoLearn .description {
    max-width: 560px;
    margin: 0 auto;
}


/****************************************************
 看圖說故事
 ****************************************************/
.imageStory .swiperImageStory {
    max-width: 376px;
}



/****************************************************
 聯博主題投資方案
 ****************************************************/
.ab-section__wrapper {
    border: 0px solid yellow;
    width: 100%;
    margin: 0 auto 60px auto;
    max-width: 900px;
}

.plan-offset-relative {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.plan-title-offset-card {
    max-height: 330px;
    background: #000;
    padding: 20px 20px;
    text-align: left;
    color: white;
}

.plan-title-offset-card p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.plan-title-offset-card .h3-plan-card-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.2;
    margin: 0.5rem 0;
}

.ab-action-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 1rem auto 0.5rem auto;
    border: 2px solid #1e9bd7;
    border-radius: 24px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: white;
}

.ab-action-button .btn_arrowRight {
    margin-top: 1px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.ab-action-button:lang(zh) {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-indent: 0;
}

.ab-action-button:hover .btn_arrowRight path {
    stroke: #fff;
}

.ab-action-button.btn-no-bg {
    background-color: transparent;
}

.ab-action-button.btn-no-bg:hover {
    background-color: #1e9bd7;
    color: white;
}

.plan-img-offset-wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    z-index: -1;
    position: static;
    top: auto;
    right: auto;
    max-width: none;
    justify-content: flex-end;
    border: 0px solid red;
}

.ab-action-button-text {
    padding-right: 12px;
    height: 16px;
    line-height: 17px;
}

.plan-bracket-container {
    position: relative;
    min-height: 0;
    max-width: none;
    width: 100%;
}

.plan-bracket-container.plan-bracket-right:after {
    z-index: 2;
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 40px;
    border: 20px solid #fff;
    border-left: none;
    box-sizing: border-box;
}




/****************************************************
 成為聯博LINE好友 即時掌握全球投資資訊
 ****************************************************/
.social.box {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.social h2 {
    background-color: transparent;
    padding: 20px 0 0 0;
}

.esg-investmentSelection__section-bg-title {
    text-align: center;
    opacity: .1;
    line-height: 1.2;
    font-family: Klavika;
    font-weight: 700;
    font-size: 60px;
    color: #1e9bd7;
}

.us-contact-us-tw__section .esg-investmentSelection__section-bg {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 100%;
}

.us-contact-us-tw__section .section__title {
    width: 100%;
}

.o-contact-us-tw__list {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 80px;
}

.o-contact-us-tw__list-item:not(:last-child) {
    margin-right: 10px;
}


.o-contact-us-tw__list-item-icon {
    width: 124px;
    height: 124px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 25px;
}


.o-contact-us-tw__list-item-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    width: 110px;
    height: 110px;
}

.esg-portal-footer-bottom__social {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 700px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 24px;
}

.esg-portal-footer-bottom__social-item {
    position: relative;
    color: #7c7c7c;
}

.esg-portal-footer-bottom__social-item:lang(zh) {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 700;
    text-indent: 0;
    font-family: "Klavika";
    color: #676767;
}

.m-social-links__label {
    position: relative;
}

.idFooterLine {
    position: absolute;
    right: auto;
    left: calc(65px + 5vw);
    width: 14vw;
    top: 6px;
    display: none;
}

.esg-portal-footer-bottom__social-item:nth-child(2) {
    width: auto;
    height: auto;
    background-color: transparent;
}

.esg-portal-footer-bottom__social-item-yt-icon {
    margin-right: 2px;
    margin-bottom: -3px;
    width: 16px;
}


.icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    font-size: 14px;
    color: #1e9bd7;
    display: inline-block;
    margin-right: 0;
}

.icon[data-icon='item-plus']::before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: custom-L35270;
    font-weight: normal;
    content: '\e00d';
    display: block;
}



/****************************************************
 footer
 ****************************************************/
 .footer.box {
    margin-top: 0px;
}
